<form action="/landmarks/<%= @landmark.id %>" method="post">
  Edit <%= @landmark.name %>'s name:
  <input id="name" type="text" name="landmark[name]">
  Year completed (currently: <%=@landmark.year_completed%>): 
  <input id="year_completed" type="text" name="landmark[year_completed]">
  
  <input type="submit" value="Edit Landmark">
</form>

<a href="/landmarks">cancel</a>