<form action="/titles/new" method="POST">
  Name of new title: 
  <input id="title_name" type="text" name="title[name]">

  <input type="submit" value="Create New Title">
  <a href="/titles">cancel</a>
</form>